#video-fundo {
position: fixed;
top: 50%;
left: 50%;
width: 100vw;
height: 100vh;
transform: translate(-50%, -50%);
border: none;
z-index: -2;
pointer-events: none;
}
.conteudo {
position: relative;
z-index: 1;
min-height: 100vh;
color: white;
padding: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}